<div class="card" (click)="submit()">
  <div class="card-body p-3">
    <div class="row">
      <div class="col-8">
        <div class="numbers">
          <p class="text-sm mb-0 text-uppercase font-weight-bold">
            {{ newInfoData.title }}
          </p>
          <h5 class="font-weight-bolder">{{ newInfoData.money }}</h5>
          <p class="mb-0">
            <span class="text-success text-sm font-weight-bolder">{{
              newInfoData.rate
            }}</span>
            {{ newInfoData.time }}
          </p>
        </div>
      </div>
      <div class="col-4 text-end">
        <div
          class="icon icon-shape text-center rounded-circle"
          [class]="handleStatus(newInfoData.status)"
        >
          <i
            class="ni ni-money-coins text-lg opacity-10"
            aria-hidden="true"
          ></i>
        </div>
      </div>
      <a [href]="newInfoData.link">To the Website</a>
    </div>
  </div>
</div>
